Source: cockpit-cron
Section: admin
Priority: optional
Maintainer: Yash Jawale <yash25.j@gmail.com>
Build-Depends: debhelper-compat (= 13), gettext
Standards-Version: 4.6.2
Rules-Requires-Root: no
Homepage: https://github.com/yashjawale/cockpit-cron

Package: cockpit-cron
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
         cockpit-bridge,
Description: Cockpit module for managing cron jobs
 A simple Cockpit module for managing cron jobs: add, edit and delete jobs,
 enable or disable them, and give them human readable labels.
